@model ArticleShop.Models.FormArticle
@{
    var imagePath = Model.Article?.ImagePath ?? "/image/no_image.jpg";
}

<input asp-for="Article.Id" hidden class="form-control" />
<input asp-for="Article.ImagePath" hidden class="form-control" />
<input asp-for="DefaultImageSrc" hidden class="form-control" />

<div class="form-group">
    <img src="@imagePath" id="preview" alt="Your image" />
    <input asp-for="FormFile" class="form-control custom-file-input" onchange="previewFile(event)" />
    <p id="removeImage" onclick="removeImage()" style="cursor:pointer">Remove image</p>
</div>
<div class="form-group">
    <label asp-for="Article.Name" class="control-label"></label>
    <input asp-for="Article.Name" class="form-control" />
    <span asp-validation-for="Article.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Article.Price" class="control-label"></label>
    <input asp-for="Article.Price" class="form-control" />
    <span asp-validation-for="Article.Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Article.ExpiryDate" class="control-label"></label>
    <input asp-for="Article.ExpiryDate" type="date" class="form-control" />
    <span asp-validation-for="Article.ExpiryDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Article.Category" class="control-label"></label>
    <select asp-for="Article.CategoryId" asp-items="@Model.AvailableCategories"></select>
    <span asp-validation-for="Article.Category"></span>
</div>

<script>
    var removeImage = function () {
        var image = document.getElementById('preview');
        image.src = "@Model.DefaultImageSrc";
    }

    var previewFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('preview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
