@model DotnetList5Task2.Models.Game.GameViewModel
@{
    ViewData["Title"] = "Guessing";
}

@section styles {
    <link rel="Stylesheet" href="~/css/guessing_game.css" />
}

<div class="text-center">
    <div>
        <h3>
            @if (Model.SuccessfullyGuessed)
            {
                @:You guessed it!
            } else
            {
                @:Incorrect!
            }
        </h3>
        <h4>Number of guesses: @Model.GuessesTaken</h4>
        @if (!Model.SuccessfullyGuessed)
        {
            <p>
                @if (Model.MoreOrLess < 0)
                {
                    @:You should try bigger numbers
                }
                else if (Model.MoreOrLess > 0)
                {
                    @:Your numbers are too big
                }
                else
                {
                    @:Try between these numbers
                }
            </p>
        }
        
    </div>
    <div class="outer-form-container">
        <div class="form-container">
            <form action="/Guess/{guess1},{guess2}" method="post">
                <p>Take a guess:</p>
                <input disabled="@Model.SuccessfullyGuessed" type="number" name="guess1" />
                <input disabled="@Model.SuccessfullyGuessed" type="number" name="guess2" />
                <input disabled="@Model.SuccessfullyGuessed" type="submit" value="Guess" />
            </form>
        </div>
        @if (Model.SuccessfullyGuessed)
        {
            <div class="form-container">
                <form action="/Game" method="get">
                    <input type="submit" value="Play again"/>
                </form>
            </div>
        }
    </div>
</div>
