@model DotnetList5Task2.Models.Game.GameViewModel
@{
    ViewData["Title"] = "Guessing";
}

<div class="text-center">
    <div>
        <h3>
            @if (Model.SuccessfullyGuessed)
            {
                @:You guessed it!
            } else
            {
                @:Incorrect!
            }
        </h3>
        <h4>Number of guesses: @Model.GuessesTaken</h4>
        @if (!Model.SuccessfullyGuessed)
        {
            <p>
                @if (Model.MoreOrLess < 0)
                {
                    @:You should try a bigger number
                }
                else
                {
                    @:Your number is too big
                }
            </p>
        }
        
    </div>
    <div class="form-container">
        <form action="Guess,{guess}" method="post">
            <p>Take a guess:</p>
            <input type="number" name="guess" />
            <input type="submit" value="Guess" />
        </form>
    </div>
</div>
