.outer-form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

form p {
    margin-bottom: 5px;
}

.form-container {
    margin-bottom: 30px;
}

input[type=number] {
    padding-left: 10px;
}

input[type=submit] {
    padding-inline: 10px;
    font-size: 15px;
}