@model DotnetList5Task2.Models.Shop.Article
@{
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ExpiryDate" class="control-label"></label>
    <input asp-for="ExpiryDate" type="date" class="form-control" />
    <span asp-validation-for="ExpiryDate" class="text-danger"></span>
</div>
<div class="form-group outer-select-container">
    <label asp-for="Categories" class="control-label"></label>
    <div class="select-container">
        @* @Html.DropDownListFor(m => m.Categories, Model.AvailableCategories, "Select categories", new { @multiple = "multiple" }) *@
        <select asp-for="Categories" asp-items="Model.AvailableCategories">
        </select>
    </div>
    <span asp-validation-for="Categories"></span>
</div>
