@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-controller="Lab4" asp-action="MultiplicationTable">Multipliation table</a>
    </div>
    <div>
        <a asp-controller="Lab4" asp-action="Canvas">Canvas</a>
    </div>
    <div>
        <a asp-controller="Tool" asp-action="Solve" asp-route-a="2" asp-route-b="2" asp-route-c="2">Solve</a>
    </div>
</div>
