@model ArticleShop.Models.Database.Category

@{
    ViewData["Title"] = "Edit";
}

@section styles {
    <link rel="Stylesheet" href="~/css/form_styling.css" />
}

<div class="outer-form-container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden class="form-control" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group checkbox-group">
            <label asp-for="IsPromo"></label>
            <input asp-for="IsPromo" style="height:20px;width:20px" />
            <span asp-validation-for="IsPromo"></span>
        </div>

        <div class="form-group">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
</div>

@section return_link {
    <div class="return-link">
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
