@{
    ViewData["Title"] = "Multiplication";
}

@section styles{
    <link rel="Stylesheet" href="~/css/lab3task1.css" />
}

<div id="table-container"></div>

@section Scripts {
    <script type="text/javascript" src="~/js/lab3task1v1.js"></script>
}