@model DotnetList5Task2.Models.Shop.Article

@{
    ViewData["Title"] = "Create";
}

@section styles {
    <link rel="Stylesheet" href="~/css/form_styling.css" />
}

<h1>Create</h1>

<div class="outer-form-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @await Html.PartialAsync("_ArticleProperties", Model)

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

@section return_link {
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
